@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.wrap{
    display: flex;
    flex-direction: column;
}
.logo{
    
    height: 50px;
    display: flex;
    background-color: rgb(125, 245, 195);
    justify-content: space-between;
    
}

.main{
display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.main li{
    margin: 20px auto;
    
}
#channel,#keyword{
    width: 300px;
    background-color: rgb(218, 218, 218);
}

#channel2,#keyword2{
    height: 150px;
    width: 300px;
    background-color: rgb(218, 218, 218);
}